<div class="container">
    <h1 class="brand"><span>OTP</span> Verification System</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3 class="creation">Created by <span>Amey Naik</span></h3>
        <ul>
          <li><i class="fa fa-road"></i>IIT(BHU) Varanasi</li>
          <li><i class="fa fa-phone"></i>7440455401</li>
          <li><i class="fa fa-envelope"></i>amey.naik.cd.che21@itbhu.ac.in</li>
        </ul>
      </div>
      <div class="contact">
        <h3>Email Us</h3>
        {{msg}}
        <form method="POST" action="send">
          <p>
            <label>Name</label>
            <input type="text" name="name">
          </p>
          <p>
            <label>Company</label>
            <input type="text" name="company">
          </p>
          <p>
            <label>Email Address</label>
            <input type="email" name="email">
          </p>
          <p>
            <label>Phone Number</label>
            <input type="text" name="phone">
          </p>
          <p class="full">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
